[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Damage Log | Foundry Virtual Tabletop
Type=Link
URL=https://foundryvtt.com/packages/damage-log
Icon=text-html
